body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    text-decoration: none;
    align-items: center;
}

img {
    display: block;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-flex-container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

.page-navigation {
    display: flex;
    color: #2e2f42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
    
.logo-web {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
    align-items: center;
}

.logo-studio {
    color: #2e2f42;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.tabs-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.tabs-current::after {
    content: '';    
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

.tabs-current {
    position: relative;
    color: #404bbf;
}

.tabs {
    position: relative;
    color: #434455;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs:hover {
    color: #404BBF;
}

.tabs:focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
    align-items: center;
    display: flex;
}

.contact-ul {
    display: flex;
    gap: 40px;
}

.contact-src {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-src:hover {
    color: #404BBF;
}

.contact-src:focus {
    color: #404BBF;
}

.contact-src {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionl {
margin:auto;
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
flex-shrink: 0;
text-align: center;
padding: 188px 0;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.features-container {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }
  .anten {
    margin: 24px 100px;
  }
  .cloc {
    margin: 24px 100px;
  }
  .diagra {
    margin: 24px 100px;
  }
  .astro {
    margin: 24px 100px;
  }
  
.section-titlel {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 0;
}

.button-l {
    margin-top: 48px;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonl:hover {
    background-color: #404BBF;
}

.buttonl:focus {
    background-color: #404BBF;
}

.sectionll {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-li {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
}
.features {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.features-li {
    margin: 0;
  }

.sectionll-titlell {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 8px;
}

.section-textll {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
    width: 264px;
}

.sectionlll {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-li { 
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-name {
    padding: 32px 0;
}

.section-titlelll {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.list-team {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-container {
    display: flex;
    justify-content: center;
  }
  .icons {
    display: flex;
    width: 40px;
    height: 40px;
  }
  .icons-container {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .instag {
    fill: #f4f4fd;
    line-height: 0;
  }
  .icon-a:hover,
  .icon-a:focus {
    background-color: #404bbf;
  }
  .icon-a {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.sectionllll {
    padding-top: 120px;
    padding-bottom: 120px;
}

.product-box {
    position: relative;
    margin: 0 auto;
    background-color: #bdbdbd;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    padding: 40px 32px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay p {
    color: #fff;
    padding: 40px 32px 164px 32px;
    margin: 0;
    font-size: 18px;
    width: 296px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-li:hover .overlay {
    transform: translatey(0);
}

.portfolio-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-ul {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-li{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .portfolio-li:hover {
     box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   }

.product-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch; 
}

.section-titlellll {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 0;
    margin-bottom: 0;
    margin-bottom: 8px;
}

.section-textllll {
    color: var(--SLATE, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-titlelllll {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-titlellllll {
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-textllllll {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
}

.footer-set {
    background-color: #2e2f42;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0;
    display: flex;
    }

    

.footer-container {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.logo-container {
    margin-right: 120px;
  }

.pfooter {
    width: 264px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.social-footer {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logofooter-web {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  align-items: center;
}

.logofooter-studio {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.icons-footer-container {
    display: flex;
    gap: 16px;
  }

  .icon-f-a:hover,
  .icon-f-a:focus {
    background-color: #31d0aa;
  }
  .icon-f-a {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  